{% extends "base/front_base.html" %}

{% block title %}
<title>小饭桌</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ static('css/news/index.min.css') }}">
<script src="{{static('js/index.min.js')}}"></script>
{% endblock %}

{% block main %}
<div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/115d73697c0d4426a72f75cdb41dcbd3.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/2129d28e6d184436a7f72dd535d7f1e9.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/4b416cc63f0d49e794fb83c94764ac0e.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/f2785f0f248c44239cdec7fdf639e587.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/c8e59f23366246d8aaf60f5e362b8add.jpeg?imageView&quality=100" alt="">
                            </a>
                        </li>

                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">

                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tap">
                        <li class="active"><a href="#">最新资讯</a></li>
                        <li><a href="#">热点</a></li>
                        <li><a href="#">深度频道</a></li>
                        <li><a href="#">干货分享</a></li>
                        <li><a href="#">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1617244133_882.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">完美日记入局，走出微商、告别暴利的美瞳凭什么让腾讯、小红书砸钱丨什么值得投</a></p>
                                <p class="desc">美瞳行业的终局是各品牌方能将供应链建起来，在这个较长的时间维度内，最终剩下的企业会看到，未来我国会像日韩一样，有60%-70%的女性将发生从戴框架眼镜</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author"> 史素云</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1617177867_165.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">「青松基金」完成新一期10亿人民币基金募资，投资聚焦新科技、新消费</a></p>
                                <p class="desc">持续聚焦新科技、新消费领域的早中期创业投资，目前已投资易隼科技、捷配信息、兆驰供应链、PolyVoly等项目。</p>
                                <p class="more">
                                    <span class="category">热点</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">  饭桌君</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}

