<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://www.xfz.cn/static/build/images/favicon.ico" type="image/x-icon">
    <title>小饭桌</title>
    <link rel="stylesheet" href="../../dist/css/news/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2468834_dlxq68rtmad.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo-box">
                <a href="/"></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="/">创业资讯</a></li>
                <li><a href="#">创业课堂</a></li>
                <li><a href="#">付费咨询</a></li>
                <li><a href="#">搜索</a></li>
            </ul>

            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <a href="#">登录</a> /
                <a href="#">注册</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul">
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/115d73697c0d4426a72f75cdb41dcbd3.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/2129d28e6d184436a7f72dd535d7f1e9.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/4b416cc63f0d49e794fb83c94764ac0e.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/f2785f0f248c44239cdec7fdf639e587.png?imageView&quality=100" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <img src="http://edu-image.nosdn.127.net/c8e59f23366246d8aaf60f5e362b8add.jpeg?imageView&quality=100" alt="">
                            </a>
                        </li>

                    </ul>
                    <span class="arrow left-arrow">‹</span>
                    <span class="arrow right-arrow">›</span>
                    <div class="page-control-group">
                        <ul class="page-control">

                        </ul>
                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tap">
                        <li class="active"><a href="#">最新资讯</a></li>
                        <li><a href="#">热点</a></li>
                        <li><a href="#">深度频道</a></li>
                        <li><a href="#">干货分享</a></li>
                        <li><a href="#">投资人说</a></li>
                    </ul>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1617244133_882.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">完美日记入局，走出微商、告别暴利的美瞳凭什么让腾讯、小红书砸钱丨什么值得投</a></p>
                                <p class="desc">美瞳行业的终局是各品牌方能将供应链建起来，在这个较长的时间维度内，最终剩下的企业会看到，未来我国会像日韩一样，有60%-70%的女性将发生从戴框架眼镜</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author"> 史素云</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="https://static-image.xfz.cn/1617177867_165.png-website.news.list" alt="">
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title"><a href="#">「青松基金」完成新一期10亿人民币基金募资，投资聚焦新科技、新消费</a></p>
                                <p class="desc">持续聚焦新科技、新消费领域的早中期创业投资，目前已投资易隼科技、捷配信息、兆驰供应链、PolyVoly等项目。</p>
                                <p class="more">
                                    <span class="category">热点</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">  饭桌君</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="load-more-group">
                        <button class="load-more">查看更多</button>
                    </div>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="adevertise-group">
                    <a href="#"><img src="https://static-fancube.xfz.cn/1602816159269/750x400.jpg-website.active.list" alt=""></a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注小饭桌</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                            <li class="zhihu"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="weibo"><a href="#" target="_blank">小饭桌创业课堂</a></li>
                            <li class="toutiao"><a href="#" target="_blank">小饭桌</a></li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫描关注小饭桌微信公众号平台xfz008</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                        <a class="more" href="#">更多</a>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">源码资本完成10亿美金新基金募集</a>
                                </p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1617675287_287.jpg-website.news.list" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">「银河水滴」获新发明专利授权：通过运动姿态“治病救人</a>
                                </p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#"><img src="https://static-image.xfz.cn/1616478119_741.png-website.news.list" alt=""></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="top-group">
            <div class="top-inner-group">
                <div class="logo-box"></div>
                <div class="detail-group">
                    <div class="line1">
                        <ul class="links">
                            <li><a href="#">关于小饭桌</a></li>
                            <li><a href="#">创业课堂</a></li>
                            <li><a href="#">寻求报道</a></li>
                            <li><a href="#">创业礼包</a></li>
                        </ul>
                        <div class="about-us">
                            <span class="title">关于我们:</span>
                            <ul class="social-group">
                                <li class="wechat">
                                    <div class="wx-qrcode"></div>
                                    <span class="text">小饭桌</span>
                                </li>
                                <li class="weibo"><a href="#" class="text">小饭桌创业课堂</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line2">
                        <p class="address">地址：北京市朝阳区凤凰置地商业广场F座</p>
                        <p class="contact">融资服务： bp@xfz.cn   商务合作： bd@xfz.cn</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-group">©2020 北京子木投资顾问有限公司 京ICP备15051289号 | 增值电信业务经营许可证：京B2-20170574</div>
    </footer>
</body>
</html>